/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}
a:hover {
    background-color: black;
    color: white;
}

figure {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 0;
}

figure img {
    vertical-align: top;
    width:100%;
}

figure figcaption {
    text-align: right;
    font-size: small;
    padding: 5px;
}

.tooltip-inner {
    text-align: left !important;
    font-size: medium;
}

.error {
    color: red;
}

.iconButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
}

.painAssessment {

}

.red {
    color: red;
    font-weight: bold;
}

.radio-toolbar table label {
    cursor: pointer;
}
.radio-toolbar td {
    margin: 0;
    padding:0;
}
.radio-toolbar input[type="radio"] {
    opacity: 0;
}
radio-toolbar label {
    display: inline-block;
    color: black;
}
.radio-toolbar input[type="radio"]:not(checked) + label {
    color: black;
    background-color: white;
    border-radius: .25em;
    padding: 20px 20px;
}
.radio-toolbar input[type="radio"]:checked + label {
    color: white;
    background-color: #2C3E50;
    border-radius: .25em;
    padding: 20px 20px;
}
.radio-toolbar input[type="radio"]:focus + label {
    color: white;
    background-color: #2C3E50;
    border-radius: .25em;
    padding: 20px 20px;
}
.radio-toolbar label:hover {
    color: white;
    background-color: #2C3E50;
    border-radius: .25em;
    padding: 20px 20px;
}
.radio-toolbar input[type="radio"]:not(checked):hover + label {
    color: palegoldenrod;
    background-color: #2C3E50;
    border-radius: .25em;
    padding: 20px 20px;
}

.takeawayborder {
    border: none;
}

#mrn {
    text-align: center;
    border: none;
}

.mrn {
    font-size: large;
    font-weight: bold;
}

.noborder {
    border: 0;
}

.heading{
    font-weight:bold;
}

#message{
    color: red;
}

.container {
    font-size: 18px;
    min-width: 95%;
}

.m-b-0 {
    margin-bottom: 0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

#detailsArea{
    display:none;
}

#patientEditGroup {
    display: none;
}

#patientDetailsGroup{
    display:block;
}

#formatSsnAndSubmitForm {
    display: none;
}

.wide {
    width: 100%;
}

.alertColor {
    color: crimson
}

#alertDiv {
    margin-top: 5px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.widely{
    min-width: 100%;
}

.linky {
    cursor: pointer;
    text-decoration: underline;
}

#longer {
    width: 250px;
}

/* The Modal (background) */
/*
.modal {
    display: none; /* Hidden by default */
    /*position: fixed;*/ /* Stay in place */
/*    z-index: 1; /* Sit on top */
/*    left: 0;
    top: 0;
    width: 100%; /* Full width */
/*    height: 100%; /* Full height */
/*    overflow: auto; /* Enable scroll if needed */
/*    background-color: rgb(0,0,0); /* Fallback color */
/*    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*These 2 below made the pop-up be active instead of greyed out*/
/*    position: absolute;
}
.modal-backdrop {
    z-index: 1020;
}

/* Modal Content/Box */
/*.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
/*    padding: 20px;
/*    border: 1px solid #888;
    width: 150%; /* Could be more or less, depending on screen size */
}
/**/

.attribution {
    text-align: right;
    font-size: small;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

/* PCA Detail Page Styles */
#myTabContent dl {
    margin-bottom: 0;
}

#myTab {
    background-color: transparent !important;
    border: 1px solid #ecf0f1 !important;
}

#myTab .nav-link:hover, #myTab .nav-link.active {
    background-color: #2C3E50 !important;
    color: #FFFFFF !important;
}

#myTab .nav-link {
    color: #3498DB !important;
}
/* Phone display */
@media only screen and (max-width: 42em) {
    figure {
        margin: 2px;
    }

    figure img {
        vertical-align: top;
        width: 300px;
    }
    figure figcaption {
        display: none;
    }

}

.m {
    margin: 10px;
}
.m-l {
    margin-left: 10px;
}
.m-r {
    margin-right: 10px;
}
.m-t {
    margin-top: 10px;
}
.m-b {
    margin-bottom: 10px;
}

.w-90 {
    width: 90% !important;
}