/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.error {
    color: red;
}

.noborder {
    border: 0;
}

.heading{
    font-weight:bold;
}


.container {
    font-size: 18px;
    min-width: 95%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

a:visited{
    color:black;
}

.patientBanner{
    color: white;
    width: 100%;
}

#detailsArea{
    display:none;
}

#patientEditGroup {
    display: none;
}

#patientDetailsGroup{
    display:block;
}

#formatSsnAndSubmitForm {
    display: none;
}

.wide {
    width: 100%;
}

.alertColor {
    color: crimson
}

.widely{
    min-width: 100%;
}


#longer {
    width: 250px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    /*position: fixed;*/ /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /*These 2 below made the pop-up be active instead of greyed out*/
    position: absolute;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: orange;
        text-decoration: none;
        cursor: pointer;
    }

