@page
@model IS_Proj_HIT.Areas.Identity.Pages.Account.SecurityQuestions

@{
    ViewData["Title"] = "Security Questions";
}

<!DOCTYPE html>

<html>
<head>
    <title>Security Questions</title>
    
</head>
<body>
<div class="row">
    <div class="col-md-5">
        <form>
            <div class="form-group">
                <label for="question1">Secuity Qusetion 1</label>
                <select class="custom-select mr-sm-2" id="question1">
                    <option selected> please select a secutiy question</option>
                    <option value="1">What us your favorite movie?</option>
                    <option value="2">What street did you grow up on?</option>
                    <option value="3">What is your dream place to go on vacation?</option>
                    <option value="4">In what city were you born?</option>
                    <option value="5">What is the name of your favorite pet?</option>
                    <option value="6">What is your mother's maiden name?</option>
                    <option value="7">What high school did you attend?</option>
                    <option value="8">What is the name of your first school?</option>
                    <option value="9">What was the make of your first car?</option>
                    <option value="10">What was your favorite food as a child?</option>
                </select>

            </div>
            <div class="form-group">
                <label for="question1Answer">Secuity Qusetion 1 Answer</label>
                <input type="text" class="form-control" placeholder="answer" id="question1Answer"/>
            </div>
            <div class="form-group">
                <label for="question1">Secuity Qusetion 2</label>
                <select class="custom-select mr-sm-2" id="question2">
                    <option selected> please select a secutiy question</option>
                    <option value="1">What us your favorite movie?</option>
                    <option value="2">What street did you grow up on?</option>
                    <option value="3">What is your dream place to go on vacation?</option>
                    <option value="4">In what city were you born?</option>
                    <option value="5">What is the name of your favorite pet?</option>
                    <option value="6">What is your mother's maiden name?</option>
                    <option value="7">What high school did you attend?</option>
                    <option value="8">What is the name of your first school?</option>
                    <option value="9">What was the make of your first car?</option>
                    <option value="10">What was your favorite food as a child?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question1Answer">Secuity Qusetion 2 Answer</label>
                <input type="text" class="form-control" placeholder="answer" id="question2Answer"/>
            </div>
            <div class="form-group">
                <label for="question1">Secuity Qusetion 3</label>
                <select class="custom-select mr-sm-2" id="question3">
                    <option selected> please select a secutiy question</option>
                    <option value="1">What us your favorite movie?</option>
                    <option value="2">What street did you grow up on?</option>
                    <option value="3">What is your dream place to go on vacation?</option>
                    <option value="4">In what city were you born?</option>
                    <option value="5">What is the name of your favorite pet?</option>
                    <option value="6">What is your mother's maiden name?</option>
                    <option value="7">What high school did you attend?</option>
                    <option value="8">What is the name of your first school?</option>
                    <option value="9">What was the make of your first car?</option>
                    <option value="10">What was your favorite food as a child?</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question1Answer">Secuity Qusetion 3 Answer</label>
                <input type="text" class="form-control" placeholder="answer" id="question3Answer"/>
            </div>
            <div class="form-group">
                <button type="submit">Confirm</button>
                <button type="reset">Reset</button>
            </div>
        </form>
        </div>
</div>
</body>
</html>