@using isprojectHiT.Models
@model IEnumerable<Ethnicity>
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="card-group" style="height:200px; text-align:center;">
    <div class="card bg-secondary">
        <a asp-area="" asp-controller="Home" asp-action="PatientLookup"><h2><i class="fas fa-search"></i> Patient search</h2></a>
    </div>

    <div class="card bg-secondary">
        <h2><i class="fas fa-users"></i> Checked in Patients</h2>
    </div>

    <div class="card bg-secondary">
        <h2><i class="fas fa-seedling"></i> Brit Systems</h2>
    </div>
</div>