
@model IS_Proj_HIT.Models.ProgressNote


<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Edit Physician Progress Notes
        </h4>
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <form method="post" id="progressNoteEdit" name="progressNoteEdit" asp-action="EditProgessNotes">

                @*//<partial name="~/Views/Patient/PatientFormFields.cshtml" />
                        //<hr/>
                        <div class="col-sm-4">
                    <label>*First Name</label><br />
                    <input class="form-control" asp-for="@Model.FirstName" name="FirstName" id="FirstName" placeholder="First Name" />
                    </div>*@

                <label>Date/Time</label>
                <input class="form-control" asp-for="@Model.ProgressNoteId" name="Note" id="Note" placeholder="Progress Note" /> 

                <button type="submit" class="btn btn-outline-primary" id="formatSsnAndSubmitForm">Save</button>

            </form>
        </div>
    </div>

</div>