@model IS_Proj_HIT.Models.ProgressNote
@{
    ViewData["Title"] = "Progress Notes";
}
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Physician Progress Notes
        </h4>
         @if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty") || User.IsInRole("HIT Faculty") || User.IsInRole("Registrar")){
             <a class="btn btn-info btn-sm float-right">
                    Add New
             </a>
         }
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <tabel class="table table-bordered table-primary">
                <thead>
                    <tr>
                        <th>View</th>
                        <th>Date/Time</th>
                        <th>Note Type</th>
                        <th>Author</th>
                        <th>CoSign</th>
                    </tr>    
                </thead>
                <tbody>
                    // 
                </tbody>

            </tabel>
        </div>
    </div>

</div>