
@model IS_Proj_HIT.Models.ProgressNote
@{
    ViewData["Title"] = "Progress Notes";
}
<!--<partial name="PatientBannerPartial" model="Model.Patient" /> -->
<div class="card">
    <div class="card-header bg-primary text-white">
        <h4>
            Physician Progress Notes
        </h4>
         @if (User.IsInRole("Administrator") || User.IsInRole("Nursing Faculty") || User.IsInRole("HIT Faculty") || User.IsInRole("Registrar")){
             <a class="btn btn-info btn-sm float-right" asp-action="EditProgressNotes">
                    Add New
             </a>
         }
    </div>

    <div class="card-body bg-light">
        <div class="container">
            <table class="table table-bordered table-seconday">
                <thead>
                    <tr>
                        <th scope="col">View</th>
                        <th scope="col">Date/Time</th>
                        <th scope="col">Note Type</th>
                        <th scope="col">Author</th>
                        <th scope="col">CoSign</th>
                    </tr>    
                </thead>
                <tbody>
                    
                    @* Filler Data *@
                    <tr>
                        <td>
                            <button>View</button>
                        </td>
                        <td>4/27/2021</td>
                        <td>Physician Note</td>
                        <td>Dr. Apples</td>
                        <td>Dr. Banana</td>
                    </tr>
                    @* @foreach (var ProgressNote in Model){
                        <tr>
                            <td>
                                <button>View</button>
                            </td>
                            <td>@ProgressNote.LastUpdated</td>
                            <td>@ProgressNote.NoteType</td>
                            <td>@ProgressNote.Physician</td>
                            <td>@ProgressNote.CoPhysician</td>
                        </tr>
                    } *@
                    
                </tbody>

            </table>
        </div>
    </div>

</div>