@model IEnumerable<string>
@using IS_Proj_HIT.Services

@{
    ViewBag.Title = "Physician Data Entry";
}

<h1>
    <a asp-action="Index" class="btn btn-primary">
        <i class="fa fa-arrow-left "></i>
    </a>
    Physician Data Entry Management
</h1>

<div class="container">
    <div class="row">
        @foreach (var entityName in Model)
        {
            <div class="col-sm-4 col-lg-3 mb-3">
                <div class="card">
                    <div class="card-body text-center">
                        <a class="btn btn-outline-primary" asp-page="/Physician/@entityName/Index">@ConversionService.ConvertTableName(@entityName)</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>