@model IS_Proj_HIT.Models.UserTable
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/chosen.min.css" />
<div class="container" asp-validation-summary="All"></div>
<div class="row">
    <div class="col-sm-4">
        <label>First Name</label><br />
        <input class="form-control" asp-for="@Model.FirstName" name="FirstName" id="FirstName" placeholder="First Name" />

    </div>
    <div class="col-sm-4 form-group">
        <label>Middle Initial</label><br />
        <input class="form-control" asp-for="@Model.LastName" name="MiddleName" id="MiddleName" placeholder="Middle Initial" maxlength="1" />

    </div>
    <div class="col-sm-4 form-group">
        <label>Last Name</label><br />
        <input class="form-control" asp-for="@Model.Email" name="lastName" id="LastName" placeholder="Last Name" />

    </div>
</div>