@model TModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      <form>
          <div class="form-group row">
              <label for="HaPdDate" class="col-sm-2 col-form-label">Date:</label>
              <div class="col-sm-3">
                  <input type="datetime-local" class="form-control" id="HaPdDate">
              </div>
          </div>
          <div class="form-group row">
              <label for="HaPComplaint" class="col-sm-2 col-form-label">Chef Complaint:</label>
              <div class="col-sm-10">
                  <input type="text" id="HaPComplaint" class="form-control">
              </div>
          </div>
          <div class="form-group row">
              <div class="form-check col-sm-2">
                  <input type="checkbox" class="form-check-input">
                  <label class=" col-form-label">HEENT:</label>
              </div>
              <div class="col-sm-10">
                  <input type="text" class="form-control">
              </div>
          </div>
          <div class="form-group row">
              <div class="form-check col-sm-2">
                  <input type="checkbox" class="form-check-input">
                  <label class=" col-form-label">HEM/LYMPH:</label>
              </div>
              <div class="col-sm-10">
                  <input type="text" class="form-control">
              </div>
          </div>
          <div class="form-group">
              <label> SIGNFICANT DIAGNOSTIC</label>
              <input class="form-control" type="text" id="">
          </div>
      </form>
</div>
</body>
</html>