@using isprojectHiT.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<Ethnicity>
@{
    ViewData["Title"] = "Patient Care Assessment";
}

    <div class="container">
        <div class="accordion" id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Level of Consciousness and Orientation
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body ">
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Person:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Person" onclick="ShowHidePerson()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Person" onclick="ShowHidePerson()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Person" onclick="ShowHidePerson()" id="person" value="abnormal">Abnormal</label>
                            </div>
                            
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="personArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Place:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Place" onclick="ShowHidePlace()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Place" onclick="ShowHidePlace()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Place" onclick="ShowHidePlace()" id="place" value="abnormal">Abnormal</label>
                            </div>
                            
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="placeArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                            
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Time:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Time" onclick="ShowHideTime()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Time" onclick="ShowHideTime()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Time" onclick="ShowHideTime()" id="time" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col-md">
                                <label><textarea class="d-none"  id="timeArea" placeholder="Describe" rows="1" ></textarea></label>
                            </div>
                         
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Purpose:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Purpose" onclick="ShowHidePurpose()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Purpose" onclick="ShowHidePurpose()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Purpose" onclick="ShowHidePurpose()" id="purpose" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col-md">
                                <label><textarea class="d-none" id="purposeArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            HEENT/ Neuro
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Head:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Head" onclick="ShowHideHead()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Head" onclick="ShowHideHead()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" id="head" onclick="ShowHideHead()" name="Head" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="headArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Eyes/ Vision:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Eyes/Vision" onclick="ShowHideEye()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Eyes/Vision" onclick="ShowHideEye()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" id="eye" name="Eyes/Vision" onclick="ShowHideEye()" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="eyeArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Ears/ Hearing:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Ears/Hearing" onclick="ShowHideEar()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Ears/Hearing" onclick="ShowHideEar()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" id="ear" name="Ears/Hearing" onclick="ShowHideEar()" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="earArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Nose:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Nose" onclick="ShowHideNose()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Nose" onclick="ShowHideNose()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" id="nose" name="Nose" onclick="ShowHideNose()" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="noseArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                        <div class="row m-2">
                            <div class="col-3 mb-2">
                                Throat and Mouth:
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Throat and Mouth" onclick="ShowHideMouth()" value="notAssessed" checked>Not Assessed</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" name="Throat and Mouth" onclick="ShowHideMouth()" value="wnl">WNL</label>
                            </div>
                            <div class="col-md mb-2">
                                <label class="radio-inline"><input type="radio" id="mouth" name="Throat and Mouth" onclick="ShowHideMouth()" value="abnormal">Abnormal</label>
                            </div>
                            <div class="form-group col m-0">
                                <label><textarea class="d-none" id="mouthArea" placeholder="Describe" rows="1"></textarea></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Skin
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Wounds/ Breaks/ Rash/ Lesions:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Wounds/Breaks/Rash/Lesions" onclick="ShowHideRash()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Wounds/Breaks/Rash/Lesions" onclick="ShowHideRash()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="rash" name="Wounds/Breaks/Rash/Lesions" onclick="ShowHideRash()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="rashArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Redness/ Irritation:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Redness/Irritation" onclick="ShowHideRed()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Redness/Irritation" onclick="ShowHideRed()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="red" name="Redness/Irritation" onclick="ShowHideRed()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="redArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Ears/ Hearing:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Hearing" onclick="ShowHideHearing()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Hearing" onclick="ShowHideHearing()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="hearing" onclick="ShowHideHearing()" name="Hearing" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="hearingArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Dryness/ Excess Moisture:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Dryness/ Excess Moisture" onclick="ShowHideDry()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Dryness/ Excess Moisture" onclick="ShowHideDry()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="dry" name="Dryness/ Excess Moisture" onclick="ShowHideDry()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="dryArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Sign of Breakdown
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Sign of Breakdown" onclick="ShowHideSign()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Sign of Breakdown" onclick="ShowHideSign()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="sign" name="Sign of Breakdown" onclick="ShowHideSign()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="signArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFour">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Lungs/ Thoracic
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Lung sounds:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Lung sounds" onclick="ShowHideLung()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Lung sounds" onclick="ShowHideLung()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="lung" name="Lung sounds" onclick="ShowHideLung()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="lungArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Respiration depth:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Respiration depth" onclick="ShowHideDepth()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Respiration depth" onclick="ShowHideDepth()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="depth" name="Respiration depth" onclick="ShowHideDepth()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="depthArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Respiratory rate:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Respiratory rate" onclick="ShowHideRate()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Respiratory rate" onclick="ShowHideRate()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="rate" name="Respiratory rate" onclick="ShowHideRate()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="rateArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Chest shape and appearance:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Chest shape and appearance" onclick="ShowHideChest()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Chest shape and appearance" onclick="ShowHideChest()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="chest" name="Chest shape and appearance" onclick="ShowHideChest()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="chestArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Drains/ Lines/ Sutures/ Staples:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Drains/ Lines/ Sutures/ Staples" onclick="ShowHideLine()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Drains/ Lines/ Sutures/ Staples" onclick="ShowHideLine()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="line" name="Drains/ Lines/ Sutures/ Staples" onclick="ShowHideLine()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="lineArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingFive">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Cardiac/ Thoracic
                            </button>
                        </h2>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Heart sounds:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart sounds" onclick="ShowHideHeart()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart sounds" onclick="ShowHideHeart()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="heart" name="Heart sounds" onclick="ShowHideHeart()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="heartArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Heart rate:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart rate" onclick="ShowHideHrate()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart rate" onclick="ShowHideHrate()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="Hrate" name="Heart rate" onclick="ShowHideHrate()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="HrateArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Heart rhythm:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart rhythm" onclick="ShowHideRhythm()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Heart rhythm" onclick="ShowHideRhythm()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="rhythm" name="Heart rhythm" onclick="ShowHideRhythm()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="rhythmArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Jugular venous pulse:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Jugular venous pulse" onclick="ShowHidePulse()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Jugular venous pulse" onclick="ShowHidePulse()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="pulse" name="Jugular venous pulse" onclick="ShowHidePulse()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="pulseArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Drains/ Lines/ Sutures/ Staples:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Drains/ Sutures/ Lines/ Staples" onclick="ShowHideDrain()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Drains/ Sutures/ Lines/ Staples" onclick="ShowHideDrain()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="drain" name="Drains/ Sutures/ Lines/ Staples" onclick="ShowHideDrain()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="drainArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSix">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                Abdomen/ Coccyx/ Genitalia
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Abnormal shape and apperance:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Abnormal shape and apperance" onclick="ShowHideAbnormal()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Abnormal shape and apperance" onclick="ShowHideAbnormal()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="abnormal" name="Abnormal shape and apperance" onclick="ShowHideAbnormal()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="abnormalArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Bowel sounds:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Bowel sounds" onclick="ShowHideBowel()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Bowel sounds" onclick="ShowHideBowel()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="bowel" name="Bowel sounds" onclick="ShowHideBowel()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="bowelArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Tenderness/ Lumps/ Bladder distension:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tenderness/ Lumps/ Bladder distension" onclick="ShowHideLump()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tenderness/ Lumps/ Bladder distension" onclick="ShowHideLump()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="lump" name="Tenderness/ Lumps/ Bladder distension" onclick="ShowHideLump()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="lumpArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Tubes/ Drains/ Catheter sites:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tubes/ Drains/ Catheter sites" onclick="ShowHideTube()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tubes/ Drains/ Catheter sites" onclick="ShowHideTube()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="tube" name="Tubes/ Drains/ Catheter sites" onclick="ShowHideTube()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="tubeArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Skin appearance:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Skin appearance" onclick="ShowHideSkin()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Skin appearance" onclick="ShowHideSkin()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="skin" name="Skin appearance" onclick="ShowHideSkin()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="skinArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingSeven">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Extremities
                            </button>
                        </h2>
                    </div>
                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Temerature/ Color/ Capillary Refill:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Temerature/ Color/ Capillary Refill" onclick="ShowHideColor()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Temerature/ Color/ Capillary Refill" onclick="ShowHideColor()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="color" name="Temerature/ Color/ Capillary Refill" onclick="ShowHideColor()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="colorArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Pulses/ Sensation:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Pulses/ Sensation" onclick="ShowHideSensation()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Pulses/ Sensation" onclick="ShowHideSensation()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="sensation" name="Pulses/ Sensation" onclick="ShowHideSensation()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="sensationArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Endema:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Endema" onclick="ShowHideEndema()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Endema" onclick="ShowHideEndema()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="endema" onclick="ShowHideEndema()" name="Endema" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="endemaArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    ROM:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="ROM" onclick="ShowHideRom()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="ROM" onclick="ShowHideRom()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="rom" name="ROM" onclick="ShowHideRom()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="romArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Tubes/ Drains/ Staples/ Sutures/ Catheter sites:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tubes/ Drains/ Staples/ Sutures/ Catheter sites" onclick="ShowHideStaple()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Tubes/ Drains/ Staples/ Sutures/ Catheter sites" onclick="ShowHideStaple()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="staple" name="Tubes/ Drains/ Staples/ Sutures/ Catheter sites" onclick="ShowHideStaple()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="stapleArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingEight">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
                                Psych/ Mental Health
                            </button>
                        </h2>
                    </div>
                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Mood/ Affect:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Mood/ Affect" onclick="ShowHideMood()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Mood/ Affect" onclick="ShowHideMood()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="mood" name="Mood/ Affect" onclick="ShowHideMood()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="moodArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Cognition:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Cognition" onclick="ShowHideCognition()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Cognition" onclick="ShowHideCognition()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="cognition" name="Cognition" onclick="ShowHideCognition()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="cognitionArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Thought Pattern:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Thought Pattern" onclick="ShowHideThought()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Thought Pattern" onclick="ShowHideThought()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="thought" name="Thought Pattern" onclick="ShowHideThought()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="thoughtArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Sleep Pattern:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Sleep Pattern" onclick="ShowHideSleep()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Sleep Pattern" onclick="ShowHideSleep()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="sleep" name="Sleep Pattern" onclick="ShowHideSleep()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="sleepArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingNine">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
                                General
                            </button>
                        </h2>
                    </div>
                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
                        <div class="card-body">
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Pain/ Discomfort:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Pain/ Discomfort" onclick="ShowHidePain()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Pain/ Discomfort" onclick="ShowHidePain()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="pain" name="Pain/ Discomfort" onclick="ShowHidePain()" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="painArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Elimination:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Elimination" onclick="ShowHideElimination()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Elimination" onclick="ShowHideElimination()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="elimination" onclick="ShowHideElimination()" name="Elimination" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="eliminationArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Appetite:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Appetite" onclick="ShowHideAppetite()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Appetite" onclick="ShowHideAppetite()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="appetite" onclick="ShowHideAppetite()" name="Appetite" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="appetiteArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                            <div class="row m-2">
                                <div class="col-3 mb-2">
                                    Activity:
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Activity" onclick="ShowHideActivity()" value="notAssessed" checked>Not Assessed</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" name="Activity" onclick="ShowHideActivity()" value="wnl">WNL</label>
                                </div>
                                <div class="col-md mb-2">
                                    <label class="radio-inline"><input type="radio" id="activity" onclick="ShowHideActivity()" name="Activity" value="abnormal">Abnormal</label>
                                </div>
                                <div class="form-group col m-0">
                                    <label><textarea class="d-none" id="activityArea" placeholder="Describe" rows="1"></textarea></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button type="button" id="PCAsubmit" class="btn btn-outline-primary">Submit</button>
    </div>
    
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;">

        <!-- Then put toasts within -->
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="..." class="rounded mr-2" alt="...">
                <strong class="mr-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
